{% load static %}

<div class="navbar-container">
    <div class="div-logo">
        <a href="/">
            <img class="my-logo" src="{% static 'images/my_logo.png' %}" alt="my-logo">
        </a>
    </div>
    <div class="div-buttons">
        {% if request.user.is_authenticated %}
        <button class="navbar-button">Mój Profil</button>
        <button class="navbar-button">Ustawienia</button>
        <button class="navbar-button" onclick="window.location.href='{% url 'logout' %}'">Wylogowanie</button>
        {% else %}
        <button class="navbar-button" onclick="window.location.href='{% url 'register' %}'">Rejestracja</button>
        <button class="navbar-button" onclick="window.location.href='{% url 'login' %}'">Logowanie</button>
        {% endif %}
    </div>
</div>
<hr>
